In [10]:
import pymysql

In [21]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             database='testdb')
with connection:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM member"
        cursor.execute(sql)
        result = cursor.fetchall()
        for r in result:
            print(r)

(1, 'TWC', '트와이스', 'Seoul', '010-1111-1111', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))
(2, 'BLK', '블랙핑크', 'Seoul', '010-1111-2222', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))
(3, 'WMN', '여자친구', 'Daegu', '010-1111-3333', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))
(4, 'OMY', '오마이걸', 'Daegu', '010-1111-4444', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))
(5, 'GRL', '소녀시대', 'Daegeon', '010-1111-5555', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))
(6, 'ITZ', '잇지', 'Daegeon', '010-2222-1111', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))
(7, 'RED', '레드밸벳', 'Daegeon', '010-2222-1111', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))
(8, 'APN', '에이핑크', 'Busan', '010-2222-2222', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))
(9, 'SPC', '우주소녀', 'Junnam', '010-2222-2222', datetime.datetime(2023, 2, 6, 14, 4, 8), datetime.datetime(2023, 2, 6, 14, 4, 8))

In [23]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             database='testdb')
with connection:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM member WHERE `address`=%s"
        cursor.execute(sql, 'Seoul')
        result = cursor.fetchone()
        for r in result:
            print(r)

1
TWC
트와이스
Seoul
010-1111-1111
2023-02-06 14:04:08
2023-02-06 14:04:08